.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
    justify-content: space-between;
}

.modalContent {
   background-color: #fff; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    max-width: 500px; 
    width: 100%;
    height: 45vh; 
    overflow-y: auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
}


.userId,
.ownedGames,
.userGames,
.gameSelect,
.permissions,
.actions {
    margin-bottom: 10px;
    width: 100%;
}

.userId label,
.ownedGames label,
.userGames label,
.gameSelect label,
.permissions label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.gameButton {
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.selectActions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.permissionCheckboxes label {
    display: block;
    margin-bottom: 8px;
}

.actions {
    margin-top: 50px;
    width: 96%;
    display: flex;
    justify-content: space-between;

}

.cancelButton {
    background-color: #ccc;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.saveButton {
    background-color: #5865f2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.saveButton:hover {
    background-color: #4752c4;
}

.perActions {
    display: flex;
    width: 100%;

}

.perGames {
    background-color: #ccc;
    padding: 3px 5px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 2px;
}


.userGames {
    display: flex;
    align-items: center;
    cursor: default;
}

.userGames:hover{
    
}

.ownedGame {
    display: flex;
}

