.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 250px;
  margin-top: 50px;
  overflow: hidden; 
}


.pageContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}



.addBtn {
  background-color: #5865f2;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.addBtn:hover{
  background-color: #4752c4;
}


.tableContainer {
  font-family: Arial, sans-serif;
  max-height: 500px;
  overflow-y: auto; /* 스크롤 추가 */
}

.forumTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.forumTable th,
.forumTable td {
  border: 1px solid #3a3c40;
  padding: 5px; /* 패딩 줄이기 */
  text-align: left;
  line-height: 1.2; /* 줄 높이 조정 */
  height: 30px; /* 원하는 높이로 조정 */
  font-size: 15px;
}

.forumTable th {
  background-color: #292b2f;
  color: #e4e6eb;
}

.forumTable td {
  background-color: #2c2f33;
  color: #e4e6eb;
}

.forumTable tr:nth-child(even) {
  background-color: #2c2f33;
}

.boardTable tr:nth-child(odd) {
  background-color: #202225;
}

.editBtn{
  background-color: #5865f2;
  color: #ffffff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.replyBtn{
  background-color: #5865f2;
  color: #ffffff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.commentBtn{
  background-color: #5865f2;
  color: #ffffff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}