.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 250px;
  margin-top: 50px;
  overflow: hidden;
}

.pageContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}


.tableContainer {
  font-family: Arial, sans-serif;
  max-height: 500px;
  overflow-y: auto;
}

.boardTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.boardTable th,
.boardTable td {
  padding: 5px;
  text-align: left;
  line-height: 1.2;
  height: 30px;
  font-size: 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.boardTable th {
  color: #333333;
  background-color: #f7f7f7;
  font-weight: 600;
}

.boardTable td {
  color: #333333;
  background-color: #ffffff;
}

.boardTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.boardTable tr:nth-child(odd) {
  background-color: #202225;
}


.editBtn {
  background-color: #5865f2;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.editBtn:hover {
  background-color: #4752c4;
  transform: translateY(-2px);
}

.searchContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.add {
  cursor: pointer;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  color: white;
  background-color: #5865f2;
}

.add:hover {
  background-color: #4752c4;
  transform: translateY(-2px);
}


.scContainer {
  width: 100%;
}

.scTitle {
  margin-right: 10px;
  color: white;
}

.scFind {
  display: flex;
  width: 50%;
  padding: 0;
}