.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 250px;
  margin-top: 50px;
  overflow: hidden;
}

.pageContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

.gameTitle {
  color: white;
}

.searchTitle {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.userContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 70vw;
  height: 50px;
}

.userSearch {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}


.userTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  
}

.userTable th,
.userTable td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.userTable th {
  color: #333333;
  background-color: #f7f7f7;
  font-weight: 600;
}

.userTable td {
  color: #333333;
  background-color: #ffffff;
}

.userTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.editBtn {
  background-color: #0011ff; 
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.editBtn:hover {
  background-color: #4752c4; 
  transform: translateY(-2px);
}

.editBtn:focus {
  outline: none;
}

.searchInput{
  height: 20px;
}


select{
  height: 20px;
}