.categoryAdd {
  background-color: #5865f2; /* Discord blue */
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.categoryAdd:hover {
  background-color: #4752c4;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 250px;
  margin-top: 50px;
  overflow: hidden;
}

.pageContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

.gameTitle {
  margin-right: 10px;
  color: white;
}

.selectGame {
  padding: 5px;
  margin-bottom: 10px;
  width: 20%;
  margin-right: 40px;
}

.gamesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.searchContainer {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  color: white;
  margin-right: 5px;
}

.find {
  padding: 5px;
  margin-bottom: 10px;
  width: 20%;
  margin-right: 25px;
}

.editBtn {
  background-color: #5865f2; /* Discord blue */
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.editBtn:hover {
  background-color: #4752c4;
}

.deleteBtn {
  outline: none;
  background-color: red;
  border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    color: white;
}

.deleteBtn:hover {
  background-color: rgb(209, 2, 2);
}

.tableContainer {
  margin: 20px;
  font-family: Arial, sans-serif;
  max-height: 500px;
  overflow-y: auto; /* Scroll */
}

.boardTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.boardTable th,
.boardTable td {
  border: 1px solid #3a3c40;
  padding: 5px; /* Reduced padding */
  text-align: left;
  line-height: 1.2; /* Line height adjustment */
  height: 30px; /* Desired height */
}

.boardTable th {
  background-color: #292b2f;
  color: #e4e6eb;
}

.boardTable td {
  background-color: #2c2f33;
  color: #e4e6eb;
}

.boardTable tr:nth-child(even) {
  background-color: #2c2f33;
}

.boardTable tr:nth-child(odd) {
  background-color: #202225;
}


.info{
  
    background-color: #5865f2; /* Discord blue */
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}