body {
  background-color: #2f3136;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 250px;
  margin-top: 50px; 
  overflow: hidden; 
}

.pageContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto; 
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.titleContainer {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1, h5 {
  color: white;
}
