.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    color: white;
}



.loading{
    margin-top: 50px;
}


h1{
    
}
