.modal {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
    flex-direction: column;
    justify-content: space-between;
    
}

.modalContent {
    background-color: #fff; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    max-width: 500px; 
    width: 100%;
    height: 53vh; 
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.close, .save {
    cursor: pointer; 
    font-size: 16px; 
    padding: 6px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.save{
    background-color: #5865f2;;
    color: white;
}
.save:hover{
    background-color: #4752c4;
}
.close:hover {
    background-color: #f0f0f0;
}


.select{
    width: 96%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    cursor: not-allowed;
}




.verticalTable {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
    margin-bottom: 30px;
}

.verticalTable th,
.verticalTable td {
    padding: 12px 15px;
    text-align: left;
}

.verticalTable th {
    
    color: black;
}

.verticalTable tbody tr {
    border-bottom: 1px solid #dddddd;
}


.btnContainer{
    margin-top: 50px;
    width: 96%;
    display: flex;
    justify-content: space-between;
}
