.modal {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
    flex-direction: column;
    justify-content: space-between;
    
}

.modalContent {
    background-color: #fff; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    max-width: 500px; 
    width: 100%;
    height: 60vh; 
    overflow-y: auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.selectMenu{    
    width: 96%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    font-size: 15px;
}


.btnContainer{
    margin-top: 50px;
    width: 96%;
    display: flex;
    justify-content: space-between;
}


.saveBtn,.close{
    cursor: pointer; 
    font-size: 16px; 
    padding: 6px 6px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
}
.saveBtn{
    background-color: #5865f2;;
    color: white;
}
.saveBtn:hover{
    background-color: #4752c4;
}
.close:hover {
    background-color: #f0f0f0;
}
