@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

.mainContainer {
	font-family: 'Lato';
	width: 96%;
	
	height: 20vh;
}

.ckContent {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editorContainer_classicEditor .editorcontainer__editor {
	width: 100%;	
	height: 100%;
}


.editorContainer__editable{
	min-height: 30rem;;
}