@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

.mainContainer {
	font-family: 'Lato';
	width: 100%;

	height: 20vh;
}

.ckContent {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editorContainer_classicEditor .editorcontainer__editor {
	width: 100%;
	height: 100%;
}


.editorContainer__editable {
	min-height: 15rem; /* 최소 높이를 15rem로 설정 */
    max-height: 50rem; /* 최대 높이를 50rem로 설정 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 생성을 추가 */
}