.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    height: 100%;
    z-index: 1000;
}

.modalContent {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 800px;

    width: 80vw;

    max-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.close,
.save {
    cursor: pointer;
    font-size: 16px;
    padding: 6px 6px;

    border: 1px solid #ccc;

    border-radius: 4px;

}

.save {
    background-color: #5865f2;
    ;
    color: white;
}

.save:hover {
    background-color: #4752c4;
}

.close:hover {
    background-color: #f0f0f0;
}

.btnContainer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.table {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-x: auto;
    overflow-y: hidden;
}


.tbody {
    display: flex
}

.th,
.td {
    display: block
}