

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 250px;
  margin-top: 50px;
  overflow: hidden;
}

.faqAdd {
  background-color: #5865f2;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.faqAdd:hover{
  background-color: #4752c4;
}

.pageContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

.gameTitle {
  margin-right: 10px;
  color: white;
}

.selectGame {
  padding: 5px;
  margin-bottom: 10px;
  width: 20%;
  margin-right: 40px;
}

.gamesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.searchContainer {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  color: white;
  margin-right: 5px;
}

.find {
  padding: 5px;
  margin-bottom: 10px;
  width: 20%;
  margin-right: 25px;
}

.editBtn {
  background-color: #5865f2;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.editBtn:hover {
  background-color: #4752c4;
}

.deleteBtn {
  outline: none;
  background-color: red;
  border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    color: white;
}

.deleteBtn:hover {
  background-color: rgb(209, 2, 2);
}

.tableContainer {
  margin: 20px;
  font-family: Arial, sans-serif;
  max-height: 500px;
  overflow-y: auto;
}

.boardTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.boardTable th,
.boardTable td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
  line-height: 1.2; 
  height: 30px;
}

.boardTable th {
  color: #333333;
  background-color: #f7f7f7;
  font-weight: 600;
}

.boardTable td {
  color: #333333;
  background-color: #ffffff;
}

.boardTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.boardTable tr:nth-child(odd) {
  background-color: #202225;
}
